<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dentist Schedule</title>
    <link rel="stylesheet" href="/css/staff/staff.css">
</head>
<body>
<div class="app-wrapper">

    <div th:replace="~{staff/fragments/sidebar :: sidebar}"></div>

    <div class="main-content">
        <div th:replace="~{staff/fragments/header :: header}"></div>

        <div class="content">
            <h2>️ Dentist's work schedule</h2>

            <form method="get" th:action="@{/staff/schedules}" class="schedule-filter">
                <select name="dentistId" required>
                    <option value="">-- Choose dentist --</option>
                    <option th:each="d : ${dentists}"
                            th:value="${d.id}"
                            th:text="${d.fullName}"
                            th:selected="${d.id==selectedDentistId}">
                    </option>
                </select>

                <input type="date" name="date" th:value="${selectedDate}" required/>

                <button type="submit">View</button>
            </form>


            <table th:if="${schedule != null}">
                <thead>
                <tr>
                    <th>Dentist</th>
                    <th>Time</th>
                    <th>Service</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="a : ${schedule}">
                    <td th:text="${a.dentist.fullName}"></td>
                    <td th:text="${a.startTime + ' - ' + a.endTime}"></td>
                    <td th:text="${a.service.name}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>
