<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dentist Schedule</title>
    <link rel="stylesheet" href="/css/staff/staff.css">
</head>
<body>
<div class="app-wrapper">

    <div th:replace="staff/fragments/sidebar :: sidebar"></div>

    <div class="main-content">
        <div th:replace="staff/fragments/header :: header"></div>

        <div class="content">
            <h2>👨‍⚕️ Lịch làm việc bác sĩ</h2>

            <form method="get">
                <input type="date" name="date">
                <button type="submit">Xem</button>
            </form>

            <table>
                <tr>
                    <th>Bác sĩ</th>
                    <th>Giờ</th>
                    <th>Dịch vụ</th>
                </tr>

                <tr th:each="a : ${schedule}">
                    <td th:text="${a.dentist.user.fullName}"></td>
                    <td th:text="${a.startTime}"></td>
                    <td th:text="${a.service.name}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
